<div id="<%= dom_id random_table %>">
  <p>
    <strong>Name:</strong>
    <%= random_table.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= random_table.description %>
  </p>

  <p>
    <strong>Die:</strong>
    <%= random_table.die %>
  </p>

  <table>
    <tr>
      <th>D<%= random_table.die %></th>
      <th>Options</th>
    </tr>
    <% random_table.options.each do |option| %>
    <tr>
      <td><%= option.die_display %></td>
      <td><%= option.text %></td>
    </tr>
    <% end %>
  </table>
</div>
