<%= form_with(model: random_table_option) do |form| %>
  <% if random_table_option.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(random_table_option.errors.count, "error") %> prohibited this random_table_option from being saved:</h2>

      <ul>
        <% random_table_option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :random_table_id, style: "display: block" %>
    <%= form.text_field :random_table_id %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.label :option_start, style: "display: block" %>
    <%= form.number_field :option_start %>
  </div>

  <div>
    <%= form.label :option_end, style: "display: block" %>
    <%= form.number_field :option_end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
