<div id="<%= dom_id random_table_option %>">
  <p>
    <strong>Random table:</strong>
    <%= random_table_option.random_table_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= random_table_option.text %>
  </p>

  <p>
    <strong>Option start:</strong>
    <%= random_table_option.option_start %>
  </p>

  <p>
    <strong>Option end:</strong>
    <%= random_table_option.option_end %>
  </p>

</div>
